#container {
  display: flex;
  background-color: hsl(233, 47%, 7%);
  margin: 6em 3.5em;
  justify-content: center;
  padding: 4em 0;
}

#container .textbox {
  background-color: hsl(244, 38%, 16%);
  border-radius: 5px;
  width: 35%;
  height: auto;
}

#container .imgbox {
  display: flex;
  background-color: hsl(277, 64%, 61%);
  width: 35%;
  height: auto;
  border-radius: 5px;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: hsl(0, 0%, 100%);
  margin: 2em 2em 1em;
}

h1 span {
  color: hsl(277, 64%, 61%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9em;
  margin: 1em 4.5em;
}

div .stats span {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.7em;
}

div .stats {
  display: flex;
  justify-content: space-evenly;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin: 5em 4em 0 1em;
}

.imgbox img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  opacity: 0.5;
}

.attribution {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
}

@media (max-width: 375px) {
  body {
    background-color: hsl(233, 47%, 7%);
  }
  #container {
    display: flex;
    flex-direction: column-reverse;
    margin: 8em 0;
    align-items: center;
    padding: 0.5em 0;
  }
  #container .textbox {
    width: 80%;
    text-align: center;
  }
  h1,
  h2 {
    font-size: 1.5em;
    margin: 2em 1em 0;
  }
  p {
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 1em 1em 0;
  }
  #container .imgbox {
    display: flex;
    width: 80%;
  }
  div .stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin: 2em;
  }
  .attribution {
    font-size: 5px;
  }
}
